
/* Виджет переключателя или включателя */
.switch-widget>input{
	display: none;
}
.switch-widget>:not(:checked)+*{
	display: none;
}

.error-code{
	font-size: 8rem;
}

.pagination {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

header{
	background-color: #ffc107;
}

.blur{
	backdrop-filter: blur(50px);
}

.banner{
	height: 70vh;
	background-position:center center;
	background-size:cover;
}

.news-article:nth-child(2n+2){
	background-color: #eee;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}


.bubble-message{
	border-radius: 5px;
	padding: 5px;
	background-color: #e5e5e5;
}

.form-message{
	position: sticky;
	bottom: 0;
	box-sizing: border-box;
	padding: 10px;
	background-color: white;
}

.button-message{
	height: 30px;
	width: 30px;
}

.textarea-message{
	resize: none;
	border-radius: 20px;
	padding: 7px 15px;
	outline: none;
}